.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.bg-primary {
  background-color: #EB5550;
  color: #FFFFFF;
}
.bg-primary-light {
  background-color: #f5aeac;
  color: #4F4F4F;
}
.bg-light {
  background-color: #FFFFFF;
  color: #4F4F4F;
}
.bg-dark {
  background-color: #4F4F4F;
  color: #FFFFFF;
}
.bg-success {
  background-color: #91CB3E;
  color: #FFFFFF;
}
.bg-danger {
  background-color: #A13D63;
  color: #FFFFFF;
}
.bg-warning {
  background-color: #EEE82C;
  color: #FFFFFF;
}

.select {
  background-color: #f5aeac;
  border-radius: 5px;
  border: none;
  color: #4F4F4F;
  padding: 0.3rem 0.5rem;
}

.btn {
  display: inline-block;
  background-color: #4F4F4F;
  font-family: "Ubuntu";
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in;
}
.btn.btn-primary {
  background-color: #EB5550;
  color: #FFFFFF;
}
.btn.btn-primary:hover {
  background: #f0817e;
}
.btn.btn-primary-dark {
  background-color: #e62922;
  color: #FFFFFF;
}
.btn.btn-primary-dark:hover {
  background-color: #f0817e;
  color: #4F4F4F;
}
.btn.btn-light {
  background-color: #f0817e;
  color: #4F4F4F;
}
.btn.btn-light:hover {
  background-color: #e62922;
  color: #FFFFFF;
}
.btn.btn-dark {
  background-color: #4F4F4F;
  color: #FFFFFF;
}
.btn.btn-dark:hover {
  background-color: dimgray;
  color: #FFFFFF;
}
.btn.btn-regular {
  width: 120px;
  border-radius: 10px;
  padding: 0.15rem 0;
  font-size: 1rem;
}
.btn.btn-small {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.25rem 0.4rem;
  width: 80px;
}
.btn.btn-big-action {
  padding: 0.8rem 1rem;
  border-radius: 20px;
}
.btn.btn-large {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.35rem 0;
  width: 150px;
}
.btn.btn-icon-left i {
  float: left;
  margin-left: 2px;
  margin-top: 2px;
  justify-self: center;
}

.text {
  margin-bottom: 1rem;
}
.text-small {
  font-size: 0.8rem;
}
.text-regular {
  font-size: 1rem;
}
.text-medium {
  font-size: 1.5rem;
  font-weight: bold;
}
.text-large {
  font-size: 3rem;
}
.text-x-large {
  font-size: 4rem;
}
.text-primary {
  color: #EB5550;
}
.text-dark {
  color: #4F4F4F;
}
.text-bold {
  font-weight: bold;
}
.text-center {
  align-self: center;
}

.container-flex {
  display: flex;
}
.container-flex.container-vertical {
  flex-direction: column;
}
.container-flex.container-vertical-center {
  justify-content: center;
  align-items: center;
}
.container-flex.container-horizontal {
  flex-direction: row;
}

.alert-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 10%;
}
.alert-card {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #FFFFFF;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alert-card i {
  position: relative;
  float: right;
  right: 10px;
}
.alert-card .title {
  padding-top: 0.5rem;
}
.alert-card .description {
  font-size: 0.65rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.alert-success {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 0px 0px #91CB3E;
}
.alert-warning {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 0px 0px #EEE82C;
}
.alert-danger {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 0px 0px #A13D63;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  display: block;
  margin: 1rem 0;
  width: calc(100% - 1rem);
  padding: 0.4rem 0.5rem;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-color: #EB5550;
}
form input[type=text]::placeholder,
form input[type=email]::placeholder,
form input[type=password]::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu";
  color: #4F4F4F;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
  outline-color: #EB5550;
  outline-width: 1px;
}
form input[type=submit] {
  width: 100%;
  padding: 0.35rem 0;
  font-size: 1.2rem;
}

body {
  font-family: "Ubuntu";
  margin: 0;
}
body p {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  filter: drop-shadow(0 0 4rem white);
}

.app-name {
  filter: drop-shadow(0 0 4rem white);
  font-weight: lighter;
}

.container-landing {
  height: 100vh;
}

.landing-items {
  height: 100%;
  margin: auto;
}
.landing-items a {
  margin: 0 0.5rem;
}

.summary-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 414px) {
  .summary-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
.summary-container {
  position: relative;
  max-width: 100vw;
  top: 10vh;
}
.summary-card {
  width: 20vw;
  min-width: 120px;
  max-width: 220px;
  max-height: 80px;
}
@media (max-width: 414px) {
  .summary-card {
    min-width: 150px;
    max-width: 170px;
  }
}
.summary-card .title {
  margin: 0.8rem 0 0 0.8rem;
}
@media (max-width: 414px) {
  .summary-card .title {
    margin: 0.5rem 0 0 0.5rem;
  }
}
.summary-card .value {
  margin: 0.5rem 0;
}
@media (max-width: 414px) {
  .summary-card .value {
    margin-bottom: 1.3rem;
  }
}

.section-header {
  width: 80%;
  min-width: 480px;
  max-width: 880px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  text-align: center;
}
@media (max-width: 414px) {
  .section-header {
    min-width: 300px;
    max-width: 340px;
  }
}

.cycle-card-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 480px;
  max-width: 880px;
}
@media (max-width: 414px) {
  .cycle-card-container {
    flex-direction: column;
    min-width: 300px;
    gap: 1rem;
  }
}

.cycle-details-primary {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cycle-details-secondary {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
@media (max-width: 414px) {
  .cycle-details-secondary .action {
    justify-self: end;
  }
}

.toolbar {
  width: 80%;
  min-width: 480px;
  max-width: 880px;
}
@media (max-width: 414px) {
  .toolbar {
    min-width: 300px;
    max-width: 340px;
  }
}
.toolbar button, .toolbar select {
  float: right;
}
.toolbar .btn-back {
  float: left;
}

.set-actions {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 480px;
  max-width: 880px;
  margin-bottom: 2rem;
}
@media (max-width: 414px) {
  .set-actions {
    flex-direction: column;
    min-width: 300px;
    max-width: 340px;
  }
}
.set-actions form {
  flex: 2;
}
.set-actions .buttons {
  flex: 1;
  flex-grow: 1;
  margin-left: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .set-actions .buttons {
    margin: 0;
    justify-content: space-evenly;
  }
}

.set-card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 480px;
  max-width: 880px;
  margin-bottom: 1rem;
}
@media (max-width: 414px) {
  .set-card-container {
    min-width: 300px;
    max-width: 340px;
  }
}
.set-card-details {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr) 4fr 1fr;
  grid-column-gap: 0.8rem;
  align-items: center;
  margin: auto 0;
}
@media (max-width: 414px) {
  .set-card-details {
    grid-template-columns: repeat(4, 2fr) 1fr;
  }
}
.set-card-details i {
  color: #828282;
  align-self: flex-end;
  justify-self: flex-end;
}
.set-card .notes-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto 0 auto;
  width: 60%;
  align-items: center;
}
.set-card .notes-container-toggled {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-width: 0.6px;
  border-color: #4F4F4F;
}
.set-card .notes-container .notes {
  margin: 0.4rem 0;
}
.set-card .notes-container i {
  color: #828282;
}

.modal-background {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-form-container {
  height: 420px;
  width: 300px;
  margin: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  justify-content: center;
}
.modal-form-container .header-text {
  text-align: center;
  width: 70%;
}
.modal-form-container .form-summary-container {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}
.modal-form-container form input[type=text] {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
