$primary-color: #EB5550;
$dark-color: #4F4F4F;
$light-color: #FFFFFF;
$danger-color: #A13D63;
$success-color: #91CB3E;
$warning-color: #EEE82C;
$font-family: 'Ubuntu';

// Set text color based on background
@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return $dark-color;
    } @else {
        @return $light-color;
    }
}

// Set background color and text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .p-#{$space} {
        padding: #{$space}rem;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }

    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}